<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.weaviate.WeaviateDataSourceProvider"
            description="Weaviate vector database connector"
            id="weaviate"
            label="Weaviate"
            dialect="weaviate">
            <tree
                  label="Weaviate data source"
                  path="weaviate">
                <folder type="org.jkiss.dbeaver.ext.weaviate.model.WeaviateCollection"
                        label="Collections"
                        icon="#folder_table"
                        description="Weaviate collections">
                    <items label="Collections" itemLabel="Collection"
                           path="collection" property="collections" icon="#folder_table">
                        <folder type="org.jkiss.dbeaver.ext.weaviate.model.WeaviateProperty"
                                label="Properties"
                                icon="#columns"
                                description="Collection properties"
                                navigable="false">
                            <items label="Properties" itemLabel="Property"
                                   path="property" property="attributes"/>
                        </folder>
                    </items>
                </folder>
            </tree>
            <drivers managable="false">
                <driver
                    id="weaviate"
                    label="Weaviate"
                    description="Weaviate vector database"
                    class="io.weaviate.client6.v1.api.WeaviateClient"
                    customDriverLoader="true"
                    categories="nosql">
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="weaviate"
                 parent="basic"
                 class="org.jkiss.dbeaver.ext.weaviate.model.WeaviateDialect"
                 label="Weaviate"
                 description="Weaviate dialect">
        </dialect>
    </extension>

</plugin>
